<table id="bangLH">
    <th><h1>Thông tin liên hệ</h1></th>
    <tr>
        <td>
            <input type="text" name="FisrtName">
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" name="LastName">
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" name="YourEmail">
        </td>
    </tr>
    <tr>
        <td>
            <textarea rows="5" cols="30"></textarea>
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" name="Gửi" >
        </td>
    </tr>
</table>
