<table>
    <th><h1 id="bannertt">Online Training</h1></th>
    <tr><td>&nbsp;&nbsp;Là hệ thống website thi trắc nghiệm trực tuyến triển khai theo hình thức SPA sử dụng công nghệ Bootstrap và AngularJS</td></tr>
    <tr><td>&nbsp;&nbsp;Hệ thống website tổ chức thi trắc nghiệm trực tuyến hoàn toàn miễn phí với kho module và giao diện phong phú, đa dạng, dễ sử dụng, hỗ trợ 24/7</td></tr>
    <tr><td>&nbsp;&nbsp;Hiện nay, phương án thi trắc nghiệm đã được triển khai rộng rãi trong giáo dục theo chỉ đạo của Bộ giáo dục và đào tạo. 
    Được bộ giáo dục xem đây là phương pháp thi hiện đại, đánh giá được tổng quát toàn bộ kiến thức của người học. 
    Song, việc ứng dụng CNTT trong việc ra đề thi của giáo viên và làm bài của học sinh chưa thực sự được chú trọng.</td></tr>
    <tr>
        <td>&nbsp;&nbsp;Các tính năng nổi bật:
            <ul>
                <li>&nbsp;Cấu hình thang điểm, thời gian làm bài</li>
                <li>&nbsp;Xem lại lịch sử thi của học sinh</li>
                <li>&nbsp;Bộ đếm ngược thời gian làm bài, tự động thu bài khi hết giờ</li>
                <li>&nbsp;Có nhiều bộ nôi dung câu hỏi phong phú</li>
                <li>&nbsp;Có thể dò lại kết quả, sửa lại câu sai thành câu đúng</li>
                <li>&nbsp;Có thể kiểm tra bài test nhiều lần để so sánh điểm</li>
            </ul>
        </td>   
    </tr>
    <th><h2 class="Title">Bootstrap là gì?</h2></th>
    <tr><td>&nbsp;&nbsp;Bootstrap được phát triển bởi Mark Otto và Jacob Thornton với mục đích ban đầu là sử dụng bootstrap như một framewwork hỗ trợ nội bộ tại công ty Twitter và xuất bản như một mã nguồn mở vào tháng 8/2011 trên website GitHub.
    Bootstrap là nền tảng bao gồm các thư viện trình bày trang HTML, CSS và Javascript giúp cho việc phát triển giao diện web trong nhiều môi trường đa nền tảng một cách nhanh chóng và dễ dàng hơn gọi là Responsive web. 
    Thiết kế Responsive web  là tạo ra website có khả năng tự động điều chỉnh giao diện web trên tất cả các thiết bị, từ PC đến các thiết bị di dộng như điện thoại, máy tính bảng.</td></tr>
    <th><h2 class="Title">AngularJS là gì?</h2></th>
    <tr><td>&nbsp;&nbsp;AngularJS là một framework có cấu trúc cho các ứng dụng web động. Nó cho phép bạn sử dụng HTML như là ngôn ngữ mẫu và cho phép bạn mở rộng cú pháp của HTML để diễn đạt các thành phần ứng dụng của bạn một cách rõ ràng và súc tích. 
    Hai tính năng cốt lõi: Data binding và Dependency injection của AngularJS loại bỏ phần lớn code mà bạn thường phải viết. Nó xảy ra trong tất cả các trình duyệt, làm cho nó trở thành đối tác lý tưởng của bất kỳ công nghệ Server nào. </td></tr>
    <th><h2 class="Title">Ai có thể tham gia vào website thi trắc nghiệm?</h2></th>
    <tr><td>&nbsp;&nbsp;Website được lập trình nhằm giúp các bạn chuyên ngành IT hay những bạn có nhu cầu tìm hiểu công nghệ có thể củng cố lại kiến thức với các bài trắc ngiệm thú vị.</td></tr>
</table>