<header>
  <img src="../assets/images/banner.png" alt="" width="100%" />
</header>
<nav>
  <ul>
    <li class="lileft">
      <a href="Home">Trang chủ</a>
    </li>
    <li class="lileft">
      <a href="gioithieu">Giới thiệu</a>
    </li>
    <li class="lileft">
      <a href="lienhe">Liên hệ</a>
    </li>
    <li class="lileft">
      <a href="gopy">Góp ý</a>
    </li>
    <li class="lileft">
      <a href="hoidap">Hỏi đáp</a>
    </li>
    <li class="dropdown">
      <button class="dropbtn">Tài khoản</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="dangky">Đăng ký</a>
        <a href="dangnhap">Đăng nhập</a>
        <a href="app-forgot-password" style="border-bottom: solid 1px gray">Quên mật khẩu</a>
        <a href="dangxuat">Đăng xuất</a>
        <a href="doimatkhau">Đổi mật khẩu </a>
        <a href="capnhap">Cập nhật tài khoản</a>
      </div>
    </li>
  </ul>
</nav>
<article>
  <aside id="aside">
    <app-danh-muc></app-danh-muc>
  </aside>
  <section id="section">
    <router-outlet></router-outlet>
  </section>
</article>
<footer></footer>