<img src="/Online-Training/src/assets/images/banner.png" alt="#" srcset="#" />
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      <li><a href="/gioithieu">Giới thiệu</a></li>
      <li><a href="/lienhe">Liên hệ</a></li>
      <li><a href="/gopy">Góp ý</a></li>
      <li><a href="/hoidap">Hỏi đáp</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Tài khoản <span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<!-- <nav>
    <div class="container-fluid">
  <ul class="nav navbar-nav">
      <li><a href="/home">Home</a></li>
    <li><a href="/gioithieu">Giới thiệu</a></li>
    <li><a href="/lienhe">Liên hệ</a></li>
    <li><a href="/gopy">Góp ý</a></li>
    <li><a href="/hoidap">Hỏi đáp</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
  </ul>
  </div>
</nav> -->
<article>
  <aside id="left">
    <div class="vertical-menu">
      <a href="#" class="active">Danh mục môn học</a>
      <a href="#"></a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
      <a href="#">Link 4</a>
    </div>
  </aside>
  <router-outlet></router-outlet>
</article>
