<div class="container">
    <h2>Góp ý vào trang Online Training</h2>
    <form action="/action_page.php">
        <label for="fname">Họ Và Tên</label>
        <input type="text" id="name" name="name" placeholder="Nhập họ và tên...">
 
        <label for="lname">Email</label>
        <input type="text" id="email" name="email" placeholder="Nhập email...">
 
        <label for="country">Số Điện Thoại</label>
        <input type="text" id="phone" name="phone" placeholder="Nhập số điện thoại...">
 
        <label for="address">Địa Chỉ</label>
        <input type="text" id="address" name="address" placeholder="Nhập địa chỉ...">

        <label for="context">Nội Dung</label>
        <textarea id="context" name="context" placeholder="Nhập nội dung..." rows="10" cols="30" ></textarea> 
 
        <input type="submit" value="Gửi ý kiến">
    </form>
</div>
