<form style="margin-left: 65%;margin-top: 10%">
    <div class="form-group">
        <label>User name</label>
        <input style="width: 300%" type="text" class="form-control" id="userName" placeholder="User name">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input style="width: 300%" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label>Your name</label>
        <input style="width: 300%" type="text" class="form-control" id="name" placeholder="Name">
    </div>
    <div class="form-check">
        <input type="radio" class="form-check-input" id="isFemale">
        <label class="form-check-label" for="exampleCheck1">Female</label>
    </div>
    <div class="form-group">
        <label>Date of Birth</label>
        <input style="width: 300%" type="date" class="form-control" id="birthDay" placeholder="Day of Birth">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input style="width: 300%" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div>

    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
