<h1 style="margin-left: 30px">Hỏi và đáp</h1>
<div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Lợi ích của trắc nghiệm trên web?
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            Hình thức thi trắc nghiệm trực tuyến, dạy học online đang được phổ biến rộng rãi, và trở thành hình thức thi chính mà tổ chức giáo dục nhiều quốc gia lựa chọn và đánh giá cao. Chính vì thế, các website, các diễn đàn học tập, thi cử cứ thế thi nhau ra đời
        </div>  
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           Lợi ích của các khóa học là gì?
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Trên trang có rất nhiều khóa học khác nhau như HTML, CSS, Boostrap, JavaScript,.. hình thức học thông qua việc trắc nghiệm, giúp học một cách nhanh chóng đồng thời ôn lại kiến thức cũ.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Làm thế nào thay đổi mật khẩu?
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Trong phần thông tin tài khoản có mục thay đổi mật khẩu, chọn vào mục đó ta chỉ cần nhập mật khẩu cũ và mật khẩu mới là hoàn thành việc thay đổi mật khẩu.
        </div>
      </div>
    </div>
</div>