<div class="loginForm">
    <form action="home" method="POST"> 
      <h2>Change Password</h2>
  
      <div class="containersetion">
        <div class="imgcontainer">
          <img src="/assets/images/team/hinhlogin.jpg" alt="Avatar" class="avatar" style="width: 150px">
        </div>
  
        <div class="container">
          <label for="uname"><b>Old Password</b></label><br>
          <input type="password" placeholder="Enter Username" name="uname" required><br>
  
          <label for="psw"><b>New Password</b></label><br>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <label for="psw"><b>Retype New Password</b></label><br>
          <input type="password" placeholder="Enter Password" name="psw" required>
  
          <button type="submit" (click)="Change()">Change</button><br>
        </div>
      </div>
    </form>
  </div>